# dev directory
dev/
docs/dev

# editor directories and files
.vscode/
.continue/
.kilo/

# configuration files (except example)
config.yaml
config.prod.yaml
!config.example.yaml

coverage.out

internal/static/build/*
internal/wizard/static/*
