[Unit]
Description=Kushim Batch Queue Daemon for %i
Documentation=https://github.com/wgomg/edub-kushim
PartOf=edub-kushim@%i.target
After=network.target kushim-hugot@%i.service
Wants=kushim-hugot@%i.service

[Service]
Type=simple
User=%i
Group=%i
Environment=HOME=/home/%i
ExecStart=/usr/local/bin/kushim queue
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
ProtectSystem=full
PrivateTmp=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
